node_modules
dist
build
app/build
buildSrc/build
.gradle
.kotlin
.cxx
.externalNativeBuild
captures
app/libs
external
.idea
*.iml
*.aar
*.apk
*.aab
gradle/wrapper/gradle-wrapper.jar
pnpm-lock.yaml
package-lock.yaml
*.min.js
*.min.css
.bitsbox
release.keystore
local.properties
.bitsBox
Makefile
